  <main>
    <h3>Ароматы&nbsp;&mdash;&nbsp;Black Opium</h3>

    <section class="shop">
      <template id="icon-temp">
        <div class="icon">
          <div class="icon-img">
            <img class="perfume-img" src="{{newToDo.img}}"/>
          </div>
          <div class="perfume-info">
            <div class="title">{{newToDo.title}}</div>
            <div class="section">{{newToDo.section}}</div>
            <div class="price">{{newToDo.price}}</div>
            <div class="button">
              <button class="detail">{{newToDo.detail}}</button>
              <button class="buy">Купить</button>
            </div>
          </div>
        </div>
      </template>
    </section>
  </main>