<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="desciption" content="yves saint laurent, ив сен лоран" />
    <meta
      name="keywords"
      content="yves saint laurent, ив сен лоран, ароматы, парфюм,духи"
    />
    <meta name="author" content="Гавлонская" />
    <title>Yves Saint Laurent - официальный сайт</title>
    <style media="all">
      @import url(styles.css);
    </style>
  </head>
  <body>
    <div class="png">
      <img
        src="https://yslbeauty.com.ru/static/version1633525595/frontend/Ewave/ysl/ru_RU/images/logo.svg"
      />
    </div>
    <app-menu></app-menu>
    <app-header></app-header>
    <app-to-do-list></app-to-do-list>
    <app-footer></app-footer>
    </body>
</html>
